@{
  Layout="Shared/_Layout";
}
<h2>Snippet Download</h2>
<hr />
<h4 id="success">Success</h4>
<br>
<a id="linkBox" href="/snippet/view">View Snippets</a>

<style>
 #linkBox {
   border: solid gray 1px;
   padding: 4px;
   color: black;
   background-color: #E8E8E8;
   text-decoration: none;
   font-family: sans-serif;
 }
 #success {
   color: green;
 }
</style>
