@{
  Layout="Shared/_Layout";
}
<h1>Are you sure? This cannot be undone.</h1>
<form action='/snippet/@Model["snippet"].Id/delete' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete it</button Delete</a>
</form>
<form action='/snippet/@Model["snippet"].Id'>
  <button type="submit">Keep it!</button</a>
</form>
