@{
  Layout="Shared/_Layout";
}

<form action="/search/snippets" method="post">
  <label for="search-string">String</label>
  <input type="text" name="search-string">String to search snippet by</input>
  <button type="submit">Search!</button>
</form>

@if (@Model.Count != 0) {
  @foreach (var snippet in Model) {
    <a href="#">@snippet.Description</a>
  }
}
