@{
  Layout="Shared/_Layout";
}


  <form action="/search/tags" method="post">
    <label for="tag-text">Tag</label>
    <input name="tag-text" type="text">
    <select name = "tag-id">
    @foreach (var tag in Model["Tags"])
    {
      <option value="@tag.Id">@tag.Text</option>
    }
    </select>
    <br><br><button type="submit">Search Tag</button>
  </form>

@if (@Model["searched"].Count != 0)
{
  <ul>
    @foreach(var snippet in Model["searched"])
    {
      <li><a href="/snippet/@snippet.Id">@snippet.Description</a></li>
    }
  </ul>
}
else
{
  <p>No tags to view</p>
}
