@{
  Layout="Shared/_Layout";
}

<h3>@Model["snippet"].Description</h3>
<hr />

@foreach (var tag in Model["tag"])
{
  <small>@tag.Text</small>
}
<hr />

<form action='/snippet/@Model["snippet"].Id/add_tag' method="post">
  <label for="tag-text">Tag: </label>
  <input name="tag-text" type="text" required autofocus>
  <button type="submit">Add Tag</button>
</form>
<br>
<pre>
@Model["snippet"].Text
</pre>

<hr />
<a id="linkBox" href ="/snippet/@Model["snippet"].Id/update">Update Snippet</a>
<a id="linkBox" href="/snippet/@Model["snippet"].Id/download">Download Snippet</a>
<a id="linkBox" href ="/snippet/@Model["snippet"].Id/delete">Delete Snippet</a>

<style>
 #btn {
   margin-left: 10%;
 }
 #linkBox {
   border: solid gray 1px;
   padding: 4px;
   color: black;
   background-color: #E8E8E8;
   text-decoration: none;
   font-family: sans-serif;
   margin-right: 10px;
 }
</style>
