@{
  Layout="Shared/_Layout";
}

<h3>@Model["snippet"].Description</h3>

@foreach (var tag in Model["tag"])
{
  <small>@tag.Text</small>
}


<form action='/snippet/@Model["snippet"].Id/add_tag' method="post">
  <label for="tag-text">Tag: </label>
  <input name="tag-text" type="text" required autofocus>
  <button type="submit">Add Tag</button>
</form>

<pre>
@Model["snippet"].Text;
</pre>


<a href ="/snippet/@Model["snippet"].Id/update">Update Snippet</a><br>
<a href="/snippet/@Model["snippet"].Id/download">Download Snippet</a><br>
<a href ="/snippet/@Model["snippet"].Id/delete">Delete Snippet</a>
