@{
  Layout="Shared/_Layout";
}

<h3>@Model["snippet"].Description</h3>

@foreach (var tag in Model["tag"])
{
  <small>@tag.Text</small>
}


<form action='/snippet/@Model["snippet"].Id/add_tag' method="post">
  <label for="tag-text">Tag: </label>
  <input name="tag-text" type="text" required>
  <button type="submit">Add Tag</button>
</form>

<pre>
@Model["snippet"].Text;
</pre>

<form action="http://localhost:5004/snippet/@Model["snippet"].Id/delete">
    <input type="submit" value="Delete">
</form>
<a href="/snippet/@Model["snippet"].Id/download">Download Snippet</a>
<a href="/snippet/@Model["snippet"].Id/delete">Delete</a>
